<launch>
    <node name="astar" pkg="path_planning" type="astar" /> 
    <node name="tf_broadcast" pkg="path_planning" type="tf_broadcast" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(find hybrid_astar)/maps/map.yaml" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find path_planning)/launch/config.rviz" />
</launch>